
@media screen and (max-width: 800px) {
    
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%
        );

    }

// Home Page
    
    .name-type{
        font-size: 40px;
        border: 0px;
        padding-bottom: 0.75rem;
    }

    .caption-type{
        font-size: 25px;
        padding-bottom: 0.2rem;
    }

    .c-b{
        padding: 0.4rem 1rem;
        font-size: 10px;
    }

// About Me
    .section{
        padding: 0.5rem;
    }
    .about .tools {
        width: 90%;
    }

    .about .sub-title {
        margin-top: 3rem;
    }

// Portfolio

    .desc{
        font-size: 10px;
    }

    

    
}